.other {
  position: sticky;
  top: 40px;
  width: 300px;
  height: 90%;
  flex-shrink: 0;
  margin: var(--other-margin);
}

.notificationbox {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.notificationbox .sidebox{
  margin-left: 20px;
}

.notificationbox .sidebox:first-child {
  margin-left: 0;
}

.notificationbox div aside,
.notificationbox div .button,
.notificationbox div .notification,
.notificationbox div .logo,
.notificationbox div .lang,
.notificationbox div .logo img,
.otherbox {
  background: var(--background-before);
  border-radius: var(--border-radius);
}

.notificationbox div aside,
.notificationbox div .button,
.notificationbox div .notification,
.notificationbox div .logo,
.notificationbox div .lang {
  min-width: 45px;
  height: 45px;
  transition: background var(--transition) ease-in-out, color var(--transition) ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.notificationbox div .date .calendarContainer,
.notificationbox div .notification .blockContainer,
.notificationbox div .logo .blockContainer,
.notificationbox div .lang .blockContainer {
  position: absolute;
  top: 60px;
  z-index: 10;
  background-color: var(--color);
  border-radius: var(--border-radius);
  border: 1px solid var(--background-before);
  padding: 10px;
  min-width: 50px;
  max-width: 260px;
  max-height: 300px;
  overflow-y: auto;

  opacity: 0;
  transform: scale(0.95);
  transition: opacity var(--transition) ease-in-out, transform var(--transition) ease-in-out;
}

.notificationbox div .date .calendarContainer.visible,
.notificationbox div .notification .blockContainer.visible,
.notificationbox div .logo .blockContainer.visible,
.notificationbox div .lang .blockContainer.visible {
  opacity: 1;
  transform: scale(1);
}

.notificationbox div .date {
  position: relative;
  width: 100%;
  cursor: pointer;
  transition: background var(--transition) ease-in-out, color var(--transition) ease-in-out;
  user-select: none;
}

.notificationbox div .date .calendarContainer {
  width: 260px;
}

.notificationbox div .notification {
  position: relative;
}

.notificationbox div .notification .blockContainer.visible {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--background-before) transparent;
}

.notificationbox div .notification .blockContainer.visible .boxNotification {
  padding-bottom: 5px;
}

.notificationbox div .notification .blockContainer.visible .boxNotification i {
  margin-left: 5px;
  background: var(--background-after);
  color: var(--background-before);
  border-radius: var(--border-radius);
  transition: background var(--transition) ease-in-out, color var(--transition) ease-in-out;
  padding: 1px;
}

.notificationbox 
  div
  .notification
  .blockContainer.visible
  .boxNotification
  i:hover {
  background: var(--background-before);
  color: var(--background-after);
}

.notificationbox div .logo {
  position: relative;
  padding-left: 0.5px;
}

.notificationbox div .logo img {
  object-fit: cover;
  width: 35px;
  height: 35px;
}

.otherbox {
  width: 100%;
  height: 40%;
  margin-top: 40px;
  padding: var(--other-padding);
}

.notificationbox div aside:hover,
.notificationbox div aside.Active,
.notificationbox div .notification:hover,
.notificationbox div .notification.Active,
.notificationbox div .logo:hover,
.notificationbox div .logo.Active,
.notificationbox div .date:hover,
.notificationbox div .date.Active {
  background: var(--color);
  color: var(--background-after);
}

.notificationBadge {
  position: absolute;
  left: 25px;
  bottom: 30px;
  display: inline-block;
  background-color: var(--background-after);
  color: var(--background-before);
  border-radius: var(--border-radius);
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 10px;
  z-index: 2;
}

@media screen and (max-width: 1565px) {
  .other.active {
    display: none;
  }
  .other {
    display: none;
  }
}