.version{
    position: absolute;
    left: 1em;
    bottom: 0.5em;
    font-size: 0.6em;
    font-weight: bold;

    user-select: none;
    color: var(--colorHv);
}

.button{
    transition: color var(--transition), background var(--transition) ease-in-out;
    
    color: var(--color);
    background: var(--colorHv);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 5px;
    right: 5px;
}

.button i {
    height: 15px;
    font-size: 1em;
}

.button:hover,
.button:active{
    color: var(--colorHv);
    background: var(--color);
}

.projects{
    display: flex;

    position: relative;

    justify-content: space-between;

    width: 100%;

    background: var(--background-back);
    border-radius: var(--border-radius);
    text-align: left;
    align-items: center;
    white-space: pre;
}

.projectsText{
    margin: 0 0.5em;
    overflow-y: auto;

    padding: 0.8em;

    scrollbar-width: none;
    scrollbar-gutter: stable;
    scrollbar-color: var(--background-before) transparent;
}

.projectsButton{
    transition: color var(--transition), background var(--transition) ease-in-out;


    border-radius: var(--border-radius);

    cursor: pointer;

    color: var(--color);
    background: var(--colorHv);
    width: 45px;
    height: 100%;

    padding: 0.8em;

    font-size: 1em;
}

.projectsButton:hover,
.projectsButton:active{
    color: var(--colorHv);
    background: var(--color);
}