/* @ui/Skeleton/style/skeleton.module.css */

.skeleton {
    border-radius: var(--border-radius);
}

.rectangle {
    height: 100%;
}

.circle {
    border-radius: 50%;
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
}

@keyframes pulse {
    0% {
      background-color: var(--background-before);
    }
    50% {
      background-color: var(--background);
    }
    100% {
      background-color: var(--background-before);
    }
}

.pulse {
    animation: pulse 2s infinite ease-in-out;
}

@keyframes wave-lines {
    0%, 100% {
      background-position: -100% 0;
   }
    50% {
      background-position: 100% 0;
   }
}

.wave-lines {
   background: linear-gradient(90deg, var(--background-before) 25%, var(--background-after) 50%, var(--background-before) 75%);
   background-size: 200% 100%;
   animation: wave-lines 3s infinite ease-in-out, background 3s infinite ease-in-out;
}