.menuUl{
    top: 0px;
    left: -120%;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--background-before);
    /* border-radius: var(--border-radius); */
    /* border: 1px solid var(--background-after); */
    list-style: none;
    transition: left var(--transition) cubic-bezier(0.77,0.2,0.05,1.0) 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* margin: 20px 4% 0; */
}

.menuUl.active{
    left: 0;
}

.menuUl .menuBox {
    margin-top: 20px;
    width: 50%;
}
.menuUl div li {
    position: relative;
}
.menuUl div li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: background var(--transition) ease-in-out, color var(--transition) ease-in-out, padding var(--transition) ease-in-out;
    border-radius: 12px;
    white-space: nowrap;
    color: var(--color);
    margin-top: 10px;
    padding: 0;
}
.menuUl div li a:hover {
    background: var(--color);
    color: var(--background);
}
/* .menu.active ul div li a {
    padding: 0 10px;
} */
.menuUl div li a i {
    height: 50px;
    min-width: 52px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

@media screen and (min-width: 769px) {
    .menu {
      display: none;
    }
}