.menu {
  position: relative;
  margin: var(--other-margin);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* NEW_MENU */
.sidebar {
  position: sticky;
  top: 40px;
  transition: width var(--transition), padding var(--transition);
  z-index: 99;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-hr);
  flex-shrink: 0;
  background: var(--background-before);
  margin-bottom: 35px;
  padding: 5px 12px;
  height: 91.5vh;
  width: 90px;
}
.sidebar.active {
  width: 250px;
  padding: 5px 24px;
}
.sidebar .nav_list {
  margin: 0;
}
.sidebar .logo_content .logo {
  display: flex;
  height: 50px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition) ease-in-out;
  margin: 0 auto;
  font-size: 30px;
  letter-spacing: 2px;
  z-index: 5;
  color: var(--color);
  user-select: none;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
.sidebar #btn {
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  transform: translateX(-50%);
  transition: left var(--transition) ease-in-out, background var(--transition) ease-in-out;
  color: var(--color);
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 12px;
}
.sidebar #btn:hover {
  background: var(--background);
}
.sidebar.active #btn {
  left: 88%;
}
.bi-list::before {
  content: '\f479';
}
.sidebar.active .bi-list::before {
  content: '\f62a';
}
.sidebar ul {
  width: 100%;
  padding: 7px;
  list-style: none;
}
.sidebar ul div {
  margin: 50px 0;
}
.sidebar ul div li {
  position: relative;
  height: 100%;
}
.sidebar ul div li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background var(--transition) ease-in-out, color var(--transition) ease-in-out, padding var(--transition) ease-in-out;
  border-radius: 12px;
  white-space: nowrap;
  color: var(--color);
  margin-top: 10px;
  padding: 0;
}
.sidebar ul div li a:hover {
  background: var(--color);
  color: var(--background);
}
.sidebar.active ul div li a {
  padding: 0 10px;
}
.sidebar ul div li a i {
  height: 50px;
  min-width: 52px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
}
.sidebar ul div li a img {
  width: 50px;
  padding: 5px;
  filter: invert(100%);
}
.sidebar ul div li a img:hover {
  filter: invert(0);
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition) ease-in-out;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar ul div li .toltip {
  position: absolute;
  left: 65px;
  top: 0%;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 35px;
  width: max-content;
  line-height: 35px;
  text-align: center;
  transition: opacity var(--transition) ease-in-out, top var(--transition) ease-in-out;
  opacity: 0;
  pointer-events: none;
  padding: 0 15px;
  background: var(--color);
  color: var(--background);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.sidebar ul div li:hover .toltip {
  opacity: 1;
  pointer-events: auto;
  top: 50%;
  background: var(--color);
}
.sidebar.active ul div li .toltip {
  opacity: 0;
  pointer-events: none;
}

.sidebar .profile_content {
  color: var(--color);
}
.sidebar.active .profile_content .profile {
  background: var(--background);
}
.sidebar #actbtn {
  background: var(--color);
  color: var(--background);
  transition: all var(--transition);
}

/* TOOLTIP */
.range {
  position: absolute;
  bottom: 5%;
}
.range input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0;
  width: 70px;
  background: transparent;
  outline: none;
}
.range input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 70px;
  background: var(--color);
  border-radius: 999px;
  padding: 5px;
  border: 0;
}
.range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  background: var(--background-before);
}
.range input[type='range']::-webkit-slider-thumb::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ticks {
  width: 70px;
  position: absolute;
  z-index: 1;
  top: -4px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.tick i {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 15px;
  color: var(--background-after);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .ticks{
    top: 3px;
  }
}