.ontop{
    position: fixed;
    background: var(--background-after);
    border-radius: var(--border-radius);
    border: var(--background-before) solid 1px;
    padding: 11px;
    cursor: pointer;
    transition: var(--transition) ease-in-out;
}

.ontop:hover, .ontop::after{
    background: var(--background-before);
    border: var(--background-after) solid 1px;
}

.top_right {
    top: 5%;
    right: 5%;
}

.bottom_right {
    bottom: 5%;
    right: 5%;
}

.bottom_left {
    bottom: 5%;
    left: 5%;
}

.top_left {
    top: 5%;
    left: 5%;
}