.button {
  margin: 0 5px;
}

.SignOut_Button {
  background: var(--background);
  color: var(--color);
}

.SignOut_Button:active,
.SignOut_Button:hover {
  background: var(--color);
  color: var(--background);
}

.GitHub_Button {
  background: var(--GitHub);
  color: #ffffff;
}

.GitHub_Button:active,
.GitHub_Button:hover {
  background: var(--color);
}

.Discord_Button {
  background: var(--Discord);
  color: #282b30;
}

.Discord_Button:active,
.Discord_Button:hover {
  background: #282b30;
  color: var(--Discord);
}

.Steam_Button {
  background: var(--Steam);
  color: #66c0f4;
}

.Steam_Button:active,
.Steam_Button:hover {
  background: #66c0f4;
  color: var(--Steam);
}


.rippleBtn {
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.rippleBtn span {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 1s linear;
  background: rgba(255, 255, 255, 0.692);
}