.alert:first-child{
    margin-top: 20px;
}
.alert {
    padding: 16px;
    margin-bottom: 5px;
    z-index: 99;
    min-width: 200px;
    border-radius: 4px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition) ease-in-out, transform var(--transition) ease-in-out;
    user-select: none;
    cursor: pointer;
}

.alert:active{
    transform: scale(2);
}

.AlertContainer {
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert-info {
    color: var(--color);
    background-color: #0c546075;
    border-color: #bee5eb75;
}

.alert-success {
    color: var(--color);
    background-color: #3e8d1075;
    border-color: #c0ebbe75;
}

.alert-warning {
    color: var(--color);
    background-color: #85640475;
    border-color: #ffeeba75;
}

.alert-error {
    color: var(--color);
    background-color: #a71a2570;
    border-color: #f5c6cb70;
}

.alert-top-right {
    position: fixed;
    top: 16px;
    right: 16px;
}

.alert-top-left {
    position: fixed;
    top: 16px;
    left: 16px;
}

.alert-bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.alert-bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.alertFadeIn{
    animation: fadeIn 0.5s ease-in-out forwards,
    fadeOut 0.5s 4s ease-in-out forwards;
}

.alertFadeOut {
    animation: fadeOut 0.5s 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
    }
}