.tooltip_container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: var(--background-after);
  color: var(--color);
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity var(--transition) ease-in-out, transform var(--transition) ease-in-out,
    visibility 0s linear var(--transition);
}

.tooltip::before {
  content: '';
  position: absolute;
  border-style: solid;
}

.tooltip_top {
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
}

.tooltip_top::before {
  top: 98%;
  left: 51%;
  transform: translateX(-50%);
  border-width: 5px 5px 0 5px;
  border-color: var(--background-after) transparent transparent transparent;
}

.tooltip_right {
  left: 100%;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
}

.tooltip_right::before {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--background-after) transparent transparent;
}

.tooltip_bottom {
  top: 100%;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
}

.tooltip_bottom::before {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--background-after) transparent;
}

.tooltip_left {
  right: 100%;
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%);
}

.tooltip_left::before {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--background-after);
}

.tooltip_visible {
  opacity: 0.9;
  visibility: visible;
  transition: opacity var(--transition) ease-in-out, transform var(--transition) ease-in-out,
    visibility 0s linear 0s;
}
